
{% load i18n admin_static admin_modify %}

<html>
    <head>

        <script type="text/javascript" src={% static "admin/js/jquery.js" %}></script>
        <script type="text/javascript" src={% static "admin/js/jquery-ui.js" %}></script>
        <script type="text/javascript" src={% static "admin/js/admin/RelatedObjectLookups.js" %}></script>

        <script type="text/javascript">
        $(document).ready(function() {
            var newId = "{{newId}}";
            var newRepr = "{{newRepr}}";
            var arrays = [];
//            var reg=new RegExp("\r\n","g"); 
            {% for ay in array %}
                arrays.push("{{ay}}");
//                arrays.push("{{ay}}".replace(reg,"");
            {% endfor %}

            window.opener.dismissAddAnotherPopupForLinkObj(window, newId, newRepr,arrays);
        });
        </script>
        
    </head>
    <body></body>
<html>
