{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block style %}
<style type="text/css">
.form-group  {
  line-height: 1.1!important;
}

</style>
{% endblock %}

{% block content %}
{% comment %}
<table class='table'>
	<tr><td>Title : {{ object.title }} </td></tr>
	<tr><td>Answer A: {{ object.a }} </td></tr>
	<tr><td>Answer B: {{ object.b }} </td></tr>
	<tr><td>Answer C: {{ object.c }} </td></tr>
	<tr><td>Answer D: {{ object.d }} </td></tr>
	<tr><td>REF Answer: {{ object.ref_answer }} </td></tr>
	<tr><td>category: {{ object.category }} </td></tr>
	<tr><td>source: {{ object.source }} </td></tr>
	<tr><td>contributor: {{ object.contributor }} </td></tr>
</table>
{% endcomment %}

<br>
<div class="row">
	<div class='col-sm-8'>
		<form method="POST" action=""> {% csrf_token %}
			{{ form|crispy }}
			<input type="submit" value='Submit' class='btn' />
		</form>
	</div>
</div>

{% endblock %}