{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block style %}
<style type="text/css">

.examlibitem  {
  line-height: 1.5!important;
}
.examlibitem>label  {
  color:#4c2c2c;
}
.examlibitem>p {
	background-color: #9d9d9d!important;
	line-height: 2!important;
}
.examlibitem>input, .examlibitem>select {
/*	display: block!important; */
	width: 100%; 
	border: 1px solid #ccc;
	margin-bottom:5px;
}
.examlibitem>textarea {
	/*display: block!important; */
	width: 100%; 
	border: 1px solid #ccc;
	resize: auto;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-radius: 4px;
    margin-bottom:5px;
}
ul.errorlist{
	color: #a93a3a;
}
.paperform select{
	/*min-height:500px!important*/
	/*overflow-y:hidden;*/ /* http://www.jb51.net/css/68100.html */
}

.paperform select option{
	word-wrap:break-all;
	white-space: pre-wrap; /* css-3 */ 
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ 
	white-space: -pre-wrap; /* Opera 4-6 */ 
	white-space: -o-pre-wrap; /* Opera 7 */
}


tr td{
	border-bottom: 1px solid #ddd;
}

#paperForm select{
	width: 100%;
	padding-left: 10px;
}

</style>
{% endblock %}

<script>
{% block jquery %}

	function ShowHideChoiceAnswer(elem) {
		var choice = $(".field-type select option:selected").val();
		if('choice' == choice)
		{
			elem.parent().parent().children(".field-answer").show();
		}
		// else if('answer' == choice)
		// {
		// 	elem.parent().parent().children(".field-answer").hide();
		// }
		else
		{
			elem.parent().parent().children(".field-answer").hide();
		}
	}

	$(".field-type").change(function(){
		ShowHideChoiceAnswer($(this));
	});

	$(".expand-shrink").bind("click",function(){
	    expand_shrink_form($(this));
	});	

//http://www.w3school.com.cn/jquery/css_css.asp
//http://www.w3school.com.cn/jquery/jquery_css_classes.asp

	function expand_shrink_form(this_expand_shrink){
	    var form_div = this_expand_shrink.parent().next();  
	    if (form_div.css("display") == "block"){
	    	form_div.css("display","none");
	    	this_expand_shrink.removeClass("fa-arrow-circle-up");
	    	this_expand_shrink.addClass("fa-arrow-circle-down");
	    }else{
	    	form_div.css("display","block");
	    	this_expand_shrink.removeClass("fa-arrow-circle-down");
	    	this_expand_shrink.addClass("fa-arrow-circle-up");
	    }
	    //form_div.parents(".comment-form").css("display","block");
	}	

{% endblock %}
</script>


{% block content %}

{# comment #}
	<div class="row">
		<div class='col-xs-12 text-center'>
			<table class='table'>
				<tr>
					<td style="width:10%;">#</a></td>
					<td>Title</td>
					<td>Score</td>
					<td>Category</td>
					<td>Source</td>
					<td>Contributor</td>
				</tr>		
			{% for object in object_list %}
				<tr>
					<td><a href='{{ object.get_absolute_url_detailview }}'>{{object.id}}</a></td>
					<td style="text-align: left;">{{object.title}}</td>
					<td>{{object.score}}</td>
					<td>{{object.category}}</td>
					<td>{{object.source}}</td>
					<td>{{object.contributor}}</td>
				</tr>
			{% endfor %}

			<tr>
				<td colspan='2' style="text-align: left;">Total Score</td>
				<td>{{total_score}}</td>
			</tr>

			</table>
		</div>
	</div>
{# endcomment #}

{% comment %}
	<form method="POST" action=""> {% csrf_token %}
	    <div id="formset_itemlib">
			{{ formset.management_form }}
			{{ formset.non_form_errors }}
			{% for form in formset %}
				<hr>
				<p ><i class="fa fa-arrow-circle-down expand-shrink" aria-hidden="true""></i> <a href='{{ form.instance.get_absolute_url_detailview }}'>Question : {{ form.instance.title }}</a></p>
				<div style="display:none;">
					<div class="row" style="color:red">
						{% if form.errors %}
						<ul class="messages">
						    {% for message in form.non_field_errors %}
						    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						    {% endfor %}
						</ul>
						{% endif %}				
					</div>					
					{% for field in form %}		
							<div class="row  {%if field.name == 'a' or field.name == 'b' or field.name == 'c' or field.name == 'd' %} field-answer {% endif %}" {% if field.name == 'id' %} style="display: none;" {% endif %}>	
								{% if field.errors %}{{field.errors}}{% endif %}			
								<div class='col-sm-2 examlibitem'>
							            {{ field.label_tag }}
								</div>
								<div class='col-sm-6 col-xs-12 examlibitem {% if field.name == "type" %}field-type{% endif %}'>
							            {{ field }}<br>
								</div>	
							</div>	
			        {% endfor %}
			        Related Papers:<br>
		        </div>
			{% endfor %}
		</div>
		<hr>
		<div class="row paperform">
			<div class='col-sm-10' id="paperForm">
				{{paperForm.as_p}}
			</div>
		</div>
		<hr>
		<input type="submit" value='Save' class='btn' /><br>
	</form>
{% endcomment %}

{% endblock %}