{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class='col-sm-6 col-sm-offset-0 text-center'>
	<table class='table'>
		<tr>
			<th>Paper ID</a></th>
			<th>User</th>
			<th>Paper Name</th>
			<th>Score</th>
		</tr>
		{% for exam_result in exam_results %}
		<tr>
			<td><a href='{{ exam_result.get_absolute_url }}'>{{exam_result.pk}}</a></td>
			<td>{{exam_result.user}}</td>
			<td>{{exam_result.paper.name}}</td>
			<td>{{exam_result.score}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}