

	<label id="id_form-{{forloop.counter0}}-title" name="form-{{forloop.counter0}}-title">Question {{forloop.counter0}} : {{ form.instance.title }} (Score : {{ form.instance.score }})</label><br />

	{% if form.instance.type == "Choice" %}
		<label id="id_form-{{forloop.counter0}}-a" name="form-{{forloop.counter0}}-a">A: </label> {{ form.instance.a }}<br />
		<label id="id_form-{{forloop.counter0}}-b" name="form-{{forloop.counter0}}-b">B: </label> {{ form.instance.b }}<br />
		<label id="id_form-{{forloop.counter0}}-c" name="form-{{forloop.counter0}}-c">C: </label> {{ form.instance.c }}<br />
		<label id="id_form-{{forloop.counter0}}-d" name="form-{{forloop.counter0}}-d">D: </label> {{ form.instance.d }}<br />
	{% endif %}

	<label for="id_form-{{forloop.counter0}}-ref_answer">Answer : </label>
	<textarea class='form-control' id="id_form-{{forloop.counter0}}-ref_answer" name="form-{{forloop.counter0}}-ref_answer"></textarea>

	<input id="id_form-{{forloop.counter0}}-id" name="form-{{forloop.counter0}}-id" type="hidden" value="1" /></p>


	