{% extends "base.html" %}
{% load crispy_forms_tags %}

{% comment %}
<script src="https://cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
<script>
{% block jquery %}
    $(".question-content").each(function(){    	
        var content = $(this).text()
        console.log(content)
        var markedContent = marked(content)
        $(this).html(markedContent)      
    })
{% endblock %}
</script>
{% endcomment %}

{% block content %}

<!-- 	<table class='table'>
	{% for object in object_list %}
		<tr>
			<td>
				<a href='{{ object.get_absolute_url }}'>Question #{{object.id}}</a>
			</td>
		</tr>
	{% endfor %}

	</table> -->
{% if bExist == True %}
	You've already attened this exam!
{% else %}

<form method="POST" action=""> {% csrf_token %}
	{{ formset.management_form }}
	{% for form in formset %}

		<div class="row" style="color:red">
			{% if form.errors %}
			<ul class="messages">
			    {% for message in form.non_field_errors %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>
			{% endif %}				
		</div>	

		<div class="row">
			<div class="row">
			    <div class="col-sm-8"><label style="font-size: 20px; color:#094b86" >Question {{forloop.counter}} : {{ form.instance.title }}</label></div>
			    <div class="col-sm-4 text-right"><label style="font-size: 20px; color:red;padding-right: 10px" >({{ form.instance.score }}')   </label></div>				
			</div>
			<div class="row">
				<div class="col-sm-12 question-content">
					{{form.instance.get_markdown}}
				</div>
			</div>
			<hr style="margin-top: 10px; margin-bottom: 0px;">
			<div>
				{% if form.instance.type|lower == "choice" %}
					<label >A: </label> {{ form.instance.a }}<br />
					<label >B: </label> {{ form.instance.b }}<br />
					<label >C: </label> {{ form.instance.c }}<br />
					<label >D: </label> {{ form.instance.d }}<br />
				{% endif %}	
	        
				{{form|crispy}}
			</div>
		</div>

	{% endfor %}
	<br/>
	<input type="submit" value='Submit' class='btn' />
</form>
{% endif %}

{% endblock %}