
.text-align-center {
	text-align: center;
}

.jumbotron {
    background-color: #5ACDFF !important;
    color : #F5F5F5;
}

.navbar-static-top {
  background-color: #5ACDFF;
  margin-bottom: 0px;
  border-color: #00B2FF;    
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-default .navbar-brand:hover {
  color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #FFF;
}

/*.navbar-default .navbar-nav>.active>a {
    background-color: #5ACDFF;
}*/

.navbar-default .navbar-toggle {
 border-color: transparent !important;
}

.navbar-toggle:hover {
	background-color: #00B2FF !important;
}

.navbar-toggle {
	background-color: #5ACDFF !important;
}
