{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}

{% block content %}
<div class='row'>
    {% if popup_view %}
    <div class='col-sm-12 '>
    <br>
    {% else %}
    <div class='col-sm-9 '>
    {% endif %}

    <br>

    {% if 1 %}
    <div class="row">
        <div class="col-sm-12">
            <p><b>{{object.name}}</b></p>
            <p>{{object.phonetic}}</p>
            <p>{{object.explain}}</p>
            <p>Progess: {{object.progress}} | {{object.book}} | Updated: {{object.updated}}</p>
            <p></p>
            <p></p>

        </div>            
    </div>
    {% else %}
    {% include "includes/detail_panel.html" with title=object.name fields_lb_content=fields_lb_content %}
    {% endif %}


    {% block inline_content %}
        <hr>  

        {% if object.worddict_set.all %}
        <h3>Dictionary</h3>
            {% if 1 %}
            <p><b>{{object.book}}</b></p>
            <p>{{object.explain}}</p>            
            {% else %}
            {% include "table_relevant.html" with objs=object.worddict_set.all  fields=fields_worddict_name %}
            {% endif %}
        {% endif %}
        
        {% if object.linked_word.all %}
            <h3 style="color: green;">Linked Word</h3> 
            {% if 1 %}
                {% for item in object.linked_word.all %}
                <p><b>{{item.name}}</b></p>
                <p>{% if item.phonetic %}{{item.phonetic}}{% endif %}</p>              
                <p>{{item.explain}}</p>
                <br>
                {% endfor %}
            {% else %}
            {% include "table_relevant.html" with objs=object.linked_word.all  fields=fields_word_name %}
            {% endif %}
        {% endif %}

        {% if object.wordexp.all %}
            <h3 style="color: blue;">WordExp Examples</h3>
            {% for obj in object.wordexp.all %}
                {% if obj.sentence %}
                    {% if 1 %}
                        <p><b>{{obj.name}}</b></p>
                        <p>{{obj.phonetic}}</p>
                        <p>{{obj.explain}}</p>                    
                    {% else %}
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if object.etyma.all %}
            <h3>Etyma</h3>
            {% for obj in object.etyma.all %}                
                {% if obj.sentence %}
                    {% if 1 %}
                        <p><b>{{obj.name}}</b></p>
                        <p>{{obj.phonetic}}</p>
                        <p>{{obj.explain}}</p>
                        <p>{{obj.sentence}}</p>                    
                    {% else %}                   
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if object.resemblance.all %}
            <h3>Resemblance</h3>
            {% for obj in object.resemblance.all %}
                {% if obj.sentence %}
                    {% if 1 %}
                        <p><b>{{obj.name}}</b></p>
                        <p>{{obj.phonetic}}</p>
                        <p>{{obj.explain}}</p>
                        <p>{{obj.sentence}}</p>                    
                    {% else %}                
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if object.semantic.all %}
            <h3>Semantic</h3>
            {% for obj in object.semantic.all %}
                {% if obj.sentence %}
                    {% if 1 %}
                        <p><b>{{obj.name}}</b></p>
                        <p>{{obj.phonetic}}</p>
                        <p>{{obj.explain}}</p>
                        <p>{{obj.sentence}}</p>                    
                    {% else %}                   
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if object.antonymy.all %}
            <h3>Antonymy</h3>
            {% for obj in object.antonymy.all %}
                {% if obj.sentence %}
                    {% if 1 %}
                        <p><b>{{obj.name}}</b></p>
                        <p>{{obj.phonetic}}</p>
                        <p>{{obj.explain}}</p>
                        <p>{{obj.sentence}}</p>                    
                    {% else %}                   
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if object.related.all %}
            <h3>Related WordExp</h3>
            {% for obj in object.related.all %}
                {% if obj.sentence %}
                    {% if 1 %}
                        <p><b>{{obj.name}}</b></p>
                        <p>{{obj.phonetic}}</p>
                        <p>{{obj.explain}}</p>
                        <p>{{obj.sentence}}</p>                    
                    {% else %}                   
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if related_word_exp_lst|length %}
            <h3 style="color: orange;">Linked WordExp</h3>
            {% for obj in related_word_exp_lst %}
                {% if obj.sentence %}
                    {% if 1 %}
                        <p><b>{{obj.name}}</b></p>
                        <p>{{obj.phonetic}}</p>
                        <p>{{obj.explain}}</p>
                        <p>{{obj.sentence}}</p>                    
                    {% else %}                   
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                    {% endif %}
                {% endif %}
            {% endfor %}            
        {% endif %}

    {% endblock %}

    {% block nav_update %}
        {% if popup_view %}
        {% else %}
            {% if object.get_absolute_url_update and request.user.is_staff %}<a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" >{% trans "Update" %}</a>{% endif %}
        {% endif %}    
    {% endblock %}

    {% block nav_back %}
        {% if back_url %}<a href="{{back_url}}" class="btn btn-default" >{% trans "Back" %}</a>{% endif %}
        {% if popup_view %}
        {% else %}
            {% if object.get_absolute_url_list %}<a href="{{ object.get_absolute_url_list }}" class="btn btn-default" >{% trans "list" %}</a>{% endif %}    
            {% if request.user.is_staff or request.user.is_superuser %}{% if object.get_absolute_url_delete %}        
            <a class="btn btn-danger" href="{{object.get_absolute_url_delete}}"  >{% trans 'Delete' %}</a>
            {% endif %}{% endif %}
        {% endif %}    
    {% endblock %}

    </div>
</div>

{% if 0 %}
<div class="row">
    <div class="col-xs-6">
        {% if object.get_previous_by_name %}<a href="{{ object.get_previous_by_name.get_absolute_url }}" title="{% trans 'previous' %}">&laquo; {{ object.get_previous_by_name.name }}</a>{% endif %}
    </div>
    <div class="col-xs-6">
        {% if object.get_next_by_name %}<a href="{{ object.get_next_by_name.get_absolute_url }}" title="{% trans "next" %}">&raquo; {{ object.get_next_by_name.name }}</a>{% endif %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-xs-6">
        {% if previous %}<a href="{{ previous.get_absolute_url }}" title="{% trans 'previous' %}">&laquo; {{ previous.name }}</a>{% endif %}
    </div>
    <div class="col-xs-6">
        {% if next %}<a href="{{ next.get_absolute_url }}" title="{% trans "next" %}">&raquo; {{ next.name }}</a>{% endif %}
    </div>
</div>
{% endif %}

<br>
{% endblock %}   