{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load pagination_tags %}
{% load i18n %}

{% block content %}
<div class='row'>
    {% if popup_view %}
    <div class='col-sm-12 '>
    <br>
    {% else %}
    <div class='col-sm-9 '>
    {% endif %}

    <br>
    {% include "includes/detail_panel.html" with title=object.name fields_lb_content=fields_lb_content %}

    {% block inline_content %}
        <hr>        
        {% if object.worddict_set.all %}
        <h2>Dictionary</h2>
            {% include "table_relevant.html" with objs=object.worddict_set.all  fields=fields_worddict_name %}
        {% endif %}
        <!-- {% for obj in object.worddict_set.all %}
            {% include "includes/detail_panel.html" with object=obj title=obj.book fields=fields_worddict %}
        {% endfor %} -->
        
        {% if object.linked_word.all %}
            <h2 style="color: green;">Related Word</h2> 
            {% include "table_relevant.html" with objs=object.linked_word.all  fields=fields_word_name %}
        {% endif %}
        <!-- {% for obj in object.linked_word.all %}
            {% include "includes/detail_panel.html" with object=obj title=obj.name fields=fields_word notitle=True %}
        {% endfor %} -->

        {% if object.wordexp.all %}
            <h2 style="color: blue;">WordExp Examples</h2>
            <!-- {% include "table_relevant.html" with objs=object.wordexp.all  fields=fields_wordexp_related_name %} -->
            {% for obj in object.wordexp.all %}
                {% if obj.sentence %}
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if object.etyma.all %}
            <h2>Etyma</h2>
            <!-- {% include "table_relevant.html" with objs=object.etyma.all  fields=fields_wordexp_related_name %} -->
            {% for obj in object.etyma.all %}                
                {% if obj.sentence %}
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if object.resemblance.all %}
            <h2>Resemblance</h2>
            <!-- {% include "table_relevant.html" with objs=object.resemblance.all  fields=fields_wordexp_related_name %} -->
            {% for obj in object.resemblance.all %}
                {% if obj.sentence %}
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if object.semantic.all %}
            <h2>Semantic</h2>
            <!-- {% include "table_relevant.html" with objs=object.semantic.all  fields=fields_wordexp_related_name %} -->
            {% for obj in object.semantic.all %}
                {% if obj.sentence %}
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if object.antonymy.all %}
            <h2>Antonymy</h2>
            <!-- {% include "table_relevant.html" with objs=object.antonymy.all  fields=fields_wordexp_related_name %} -->
            {% for obj in object.antonymy.all %}
                {% if obj.sentence %}
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if object.related.all %}
            <h2>Related WordExp</h2>
            <!-- {% include "table_relevant.html" with objs=object.related.all  fields=fields_wordexp_related_name %} -->
            {% for obj in object.related.all %}
                {% if obj.sentence %}
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% if related_word_exp_lst|length %}
            <h2 style="color: orange;">Linked WordExp</h2>
            <!-- {% include "table_relevant.html" with objs=object.related.all  fields=fields_wordexp_related_name %} -->
            {% for obj in related_word_exp_lst %}
                {% if obj.sentence %}
                    {% include "includes/detail_panel.html" with object=obj title=obj.exp fields=fields_wordexp_related notitle=False %}
                {% endif %}
            {% endfor %}            
        {% endif %}

    {% endblock %}

    {% block nav_update %}
        {% if popup_view %}
        {% else %}
            {% if object.get_absolute_url_update and request.user.is_staff %}<a href="{{ object.get_absolute_url_update }}" class="btn btn-primary" >{% trans "Update" %}</a>{% endif %}
        {% endif %}    
    {% endblock %}

    {% block nav_back %}
        {% if back_url %}<a href="{{back_url}}" class="btn btn-default" >{% trans "Back" %}</a>{% endif %}
        {% if popup_view %}
        {% else %}
            {% if object.get_absolute_url_list %}<a href="{{ object.get_absolute_url_list }}" class="btn btn-default" >{% trans "list" %}</a>{% endif %}    
            {% if request.user.is_staff or request.user.is_superuser %}{% if object.get_absolute_url_delete %}        
            <a class="btn btn-danger" href="{{object.get_absolute_url_delete}}"  >{% trans 'Delete' %}</a>
            {% endif %}{% endif %}
        {% endif %}    
    {% endblock %}

    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        {% if object.get_previous_by_name %}<a href="{{ object.get_previous_by_name.get_absolute_url }}" title="{% trans 'previous' %}">&laquo; {{ object.get_previous_by_name.name }}</a>{% endif %}
    </div>
    <div class="col-xs-6">
        {% if object.get_next_by_name %}<a href="{{ object.get_next_by_name.get_absolute_url }}" title="{% trans "next" %}">&raquo; {{ object.get_next_by_name.name }}</a>{% endif %}
    </div>
</div>
<br>
{% endblock %}   